.kyc_reg_date_group {
    margin-top: 14.5px;
}

.kyc_reg_id_select {
    margin-top:-24px;width: 125px;
}
.kyc_reg_tel_type_select
{
    margin-top:-24px;width: 125px;
}
.kyc_image
{
    width: 20px;
}

