<app-dummy2 >
    <ng-template #standardTemplate let-item>
        <h1>{{ item }}</h1>
<span *ngIf="item=='one'">
heyyy
</span>
<span *ngIf="item=='two'">
helloo
</span>
    </ng-template>
</app-dummy2>

<div class="row">
    <div  class="col-md-6">
            <app-table [table_data] = "table_data_to_send">
                    <ng-template>
                            <tr><td>21</td><td>22</td><td>23</td><td>24</td></tr>
                            <tr><td>25</td><td>26</td><td>27</td><td>28</td></tr>
                            <tr><td>29</td><td>30</td><td>31</td><td>32</td></tr>         
                    </ng-template>
            </app-table>  
    </div>
    <div  class="col-md-6">
            Loan actions here
            
            <app-table [table_data] = "table_data_to_send1">
                    <ng-template>
                            <tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                            <tr><td>5</td><td>6</td><td>7</td><td>8</td></tr>
                            <tr><td>9</td><td>10</td><td>11</td><td>12</td></tr>        
                    </ng-template>
            </app-table> 
    </div>
</div>